@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: gray;
  --main-text-color: #fff;
  --font-strings: strings-theory, monospace;
  --font-guitar-hero: guitar-hero, monospace;
}

@font-face {
  font-family: strings-theory;
  src: url(../../public/fonts/StringsTheory-2yYK.ttf);
}

@font-face {
  font-family: guitar-hero;
  src: url(../../public/fonts/Nightmare_Hero_Normal.ttf);
}

body {
  /* position: absolute; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: rgb(251, 27, 27);
  background: linear-gradient(
    90deg,
    rgba(251, 27, 27, 1) 0%,
    rgba(224, 126, 0, 1) 35%,
    rgba(151, 173, 255, 1) 71%,
    rgba(152, 69, 252, 1) 100%
  );
}

header h1 {
  font-family: var(--font-guitar-hero);
  font-size: 3rem;
  color: rgb(25, 192, 252);
  text-shadow: -2px 2px black;
}

nav button {
  background-color: white;
  padding: 1rem;
  width: calc(100% + 5px);
  border-radius: 2px;
}

img {
  height: 40em;
  width: 20em;
}

.showcase-add h3 {
  font-family: var(--font-strings);
  font-size: 26px;
}

.pick {
  height: 100px;
  width: 100px;
  background-color: royalblue;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  transition: all 300ms linear;

  border-top-left-radius: 70%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 100% 50%;
  cursor: pointer;

  transform: rotate(45deg);
  box-shadow: inset 5px 5px 2px -2px blue;
}

.pick:hover {
  animation: rotation 1s ease-in-out backwards;
  transform: translateY(-18px) rotate(45deg);
  box-shadow: inset 5px 5px 3px blue, 8px 8px 8px gray;
}

.text {
  position: relative;
  top: 0px;
  left: 28px;
  transform: rotate(-45deg);
  font-size: 42px;
  display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(45deg);
  }
  to {transform: rotate(360deg) translateY(-18px) rotate(45deg)}
  
}

